@use "../mixins/index" as *;
@use "../presets/index" as *;

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-family: $font-main;
  font-size: $font-size;
}

body {
  overflow-y: scroll;

  background-color: $color-light;
}

h1 {
  margin: 0;

  font-family: $font-header;
}

h2,
h3 {
  margin: 0;

  font-family: $font-main;
}

a {
  text-decoration: none;

  color: $color-light;
}
